@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");

* {
    font-family: "Libre Franklin", sans-serif;
}

/* #albums-info{
    display: flex;
    justify-content: center;
    align-items: end;
    } */
