@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

* {
  font-family: 'Libre Franklin', sans-serif;
}

/* .albums-info{
    color:transparent;
    font-weight: bolder;
    display: flex;
    justify-content:first baseline;
    align-items: end;
    
    box-shadow: 10px 10px rgba(218, 218, 218, 0.7);
    } */
